html {
	font-size: 16px;
	color: white;
}

#upbutton {
	height: 40px;
	width: 40px;
	top: 30px;
	right: 30px;
	cursor: pointer;
	display: none;
	position: fixed;
	z-index: 7;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.57;
	font-weight: 400;
}

#wrapper {
	max-width: 1920px;
	width: 100%;
  overflow: hidden;
	position: relative;
	background-color: #2F343A;
}

#header {
	width: 100%;
}

/*contact*/

#header > div {
	width: 100%;
	background-color: #C8A35F;
	font-size: 0.75rem;
}

#header > div > div {
	max-width: 1120px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: white;
	margin: 0 auto;
	padding: 16px 10px;
}

#header > div > div:first-child > div:nth-child(3) {
	margin-right: 10px;
}

#header > div > div:first-child > div:hover {
	opacity: 0.5;
}

.vertical {
	display: flex;
	align-items: center;
}

.vertical > li {
	margin: 0 10px;
}

.vertical > li:hover {
	opacity: 0.5;
}

/*navbar*/

#header > nav {
	max-width: 1120px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 27px 10px;
	font-size: 0.845rem;
}

.logo {
	display: block;
	margin-left: 10px;
	transition: transform 0.3s ease;
}

.logo:hover {
	transform: scale(1.1);
}

.logo img {
	display: block;
}

#header > nav > div {
	display: flex;
	justify-content: space-between;
}

#header > nav > div:first-child > div:first-child {
	position: relative;
	margin-right: 35px;
}

#header > nav > div:first-child > div:first-child:after {
	position: absolute;
	display: block;
	content: "";
	width: 46px;
	border: 1px solid #F2F2F2;
	transform: rotate(90deg);
	right: -45px;
	top: 50%;
}

#header > nav > div:first-child > div:last-child > a {
	transition: transform 0.3s ease;
}

#header > nav > div:first-child > div:last-child > a:hover {
	transform: scale(1.1);
}

/*main*/

#main > section {
	width: 100%;
	position: relative;
	background: url(../images/Rectangle2.png) no-repeat 50% 50% / cover;
	padding: 140px 0 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main > section > div:first-child {
	max-width: 920px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid #C8A35F;
	padding-top: 45px
}

#main > section > div:first-child > h1 {
	text-align: center;
	font-size: 4rem;
	display: block;
	font-weight: 700;
}

#main > section > div:first-child > p {
	text-align: center;
	font-size: 1.125rem;
	padding: 45px 70px;
}

#main > section > div:last-child > img {
	padding-top: 140px
}

/*slider*/

#main > div:nth-child(2) {
	background-color: #393F47;
}

#main > div:nth-child(2) > div {
	max-width: 1120px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 0 10px;
}

#main > div:nth-child(2) > div > div {
	width: 33%;
}

#main > div:nth-child(2) > div > div:nth-child(2) {
	background-color: #2F343A;
	position: relative;
}
.about {
	padding: 120px 0;
	z-index: 1;
}

.line {
	width: 90px;
	height: 6px;
	background-color: #C8A35F;
}

h2 {
	margin-top: 40px;
	font-size: 2.7rem;
	font-weight: 700;
}

.about > p {
	padding: 30px 0;
}

.about > a {
	display: flex;
	background: #C8A35F;
	width: 220px;
	height: 50px;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}

.about > a:hover {
	opacity: 0.7;
}

#slideEl {
	width: 120%;
	height: 45%;
	position: absolute;
	top: 166px;
	left: 70px
}

#prevButton {
	position: absolute;
	display: none;
}

#nextButton {
	position: absolute;
	display: none;
}

#slideEl > label:nth-child(1) {
	position: absolute;
	top: 91%;
	right: -45%;
	color: #C8A35F;
	cursor: pointer;
}

#slideEl > label:nth-child(1):after {
	position: absolute;
	content:"";
  border-left: 3px solid #C8A35F;
  border-bottom: 3px solid #C8A35F;
  transform: rotate(45deg);
  width: 10px;
	height: 10px;
	margin-top: 8px;
	left: -90px
}	

#slideEl > label:nth-child(1):before {
	position: absolute;
	content:"";
  border-bottom: 3px solid #C8A35F;
	width: 65px;
	margin-top: 11px;
	left: -90px
}	

#slideEl > label:nth-child(3) {
	position: absolute;
	top: 0;
	right: -21%;
	color: #C8A35F;
	cursor: pointer;
}

#slideEl > label:nth-child(3):after {
	position: absolute;
	content:"";
  border-right: 3px solid #C8A35F;
  border-top: 3px solid #C8A35F;
  transform: rotate(45deg);
  width: 10px;
	height: 10px;
	margin-top: 8px;
	right: -100px
}	

#slideEl > label:nth-child(3):before {
	position: absolute;
	content:"";
  border-bottom: 3px solid #C8A35F;
	width: 65px;
	margin-top: 11px;
	right: -100px
}	

/*services*/

#services {
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
.services-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
	background-color: #393F47; 
}

.services-list li {
	width: 25%;
	padding: 0;
}

.services-list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #2F343A;
}

.services-list-item div span {
	display: block;
	font-size: 2rem;
	transform: rotate(-45deg);
}	

.services-list-item > div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	margin-top: 35px;
	margin-bottom: 23px;
}

.services-list-item > div:last-child {
	margin-bottom: 35px;
	font-size: 1.125rem;
	font-weight: 700;
}	

.services-list li:hover {
	background-color: #C8A35F;
}

.services-list li:hover a > div:first-child {
	border-radius: 50%;
	color: black;
	background-color: white;
	z-index: 1;
}

/*about-company"*/
#about-company {
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.about1 {
	padding: 80px 0;
	z-index: 1;
}

#about-company > div:first-child {
	position: absolute;
	width: 33%;
	background-color: #393F47;
	top: 0;
	left: 33%;
	height: 100%;
}

#about-company > div:nth-child(2) {
	width: 41%;
}	

#about-company > div:nth-child(3) {
	padding: 80px 0px 80px 50px;
	width: 59%;
	z-index: 1;

}

.list-about {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.list-about li {
	width: 33%;
	padding: 0;
}

.list-about-item {
	display: block;
	position: relative;
	border: 1px solid #2F343A;
	height: 100%;
}

.list-about-item img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.list-about-item:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #D3D3D3;
	opacity: 0;
	transition: all 0.3s;
}

.list-about-item:hover:after {
	opacity: 0.5;
}

.list-about-item > div > p:nth-child(2) {
	text-align: center;
	font-size: 1.125rem;
	color: black
}

.list-about-item > div > h1 {
	text-align: center;
	font-size: 4rem;
	font-weight: 700;
	color: black
}

.list-about-item > div > p:nth-child(3) {
	text-align: center;
	font-size: 0.75rem;
	color: black
}

.list-about-background {
	background-color: white;
}

#footer {
	background-color: #C8A35F;
}

#footer > div {
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
	padding: 50px 10px;
	display: flex;
	font-size: 0.875rem;
}

#footer > div > div:first-child {
	display: flex;
	width: 50%;
}

#footer > div > div:first-child img {
	display: block;
}

#footer > div > div:first-child > div:last-child {
	padding-left: 30px;
}

#footer > div > div:first-child > div:last-child a {
	color: black;
}

#footer > div > div:last-child {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

#footer > div > div:last-child > div:last-child {
	align-self: flex-end;
	color: black;
}











@media (max-width: 991px) {
	html {
		font-size: 14px;
	}
	#main > section > div:first-child {
		max-width: 720px;
	}
	.about {
		padding: 90px 0;
	}
	h2 {
		margin-top: 30px;
	}
	.about > a {
		width: 170px;
		height: 40px;
	}
	#main > div:nth-child(2) > div {
		max-width: 800px;
		padding: 0 20px;
	}
		
	#slideEl > label:nth-child(1):after {
		margin-top: 6px;
		left: -60px
	}	
	
	#slideEl > label:nth-child(1):before {
		width: 50px;
		margin-top: 9px;
		left: -60px
	}	
	
	#slideEl > label:nth-child(3):after {
  	margin-top: 6px;
		right: -70px
	}	

	#slideEl > label:nth-child(3):before {
		width: 50px;
		margin-top: 9px;
		right: -70px
	}

	#services {
		max-width: 800px;
		padding: 0 20px;
	}
	#about-company {
		max-width: 800px;
		padding: 0 20px;
	}
	#footer > div {
		padding: 50px 20px;
	}



}

@media (max-width: 767px) {
	html {
		font-size: 12px;
	}
	#main > section > div:first-child {
		max-width: 550px;
	}
	#main > div:nth-child(2) > div {
		max-width: 690px;
		padding: 0 10px;
	}
}

@media (max-width: 575px) {
}

@media (max-width: 479px) {
}